/* 
Colours 
- #F6BF4C - orange 
- #D4204F - red
- #2F3EEB - blue
- #20D46F - green
- #F6E554 - yellow

*/

* {
    color: rgb(95, 95, 95);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    display: border-box;
    border: 2px solid #F6BF4C;
    border-radius: 6px;
    margin: 60px auto;
    width: 400px;
    height: 500px;
}

header {
    background-color: #F6BF4C;
    color: white;
    line-height: 50px;
    padding-left: 15px;
    font-size: 2.25rem;
    font-weight: bold;
    vertical-align: middle;
}

lower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.addBox {
    display: flex;
    justify-content:space-between;
    height: 22px;
}

.addButton {
    font-weight: bold;
    vertical-align: top;
}

.addButton:hover {
    filter: invert(63%) sepia(60%) saturate(544%) hue-rotate(94deg) brightness(93%) contrast(97%);
}

li {
    width: 100%;
    list-style-type: none;
    font-size: larger;
    margin-bottom: 12.5px;
}

input {
    padding: 0;
    border: none;
    border-bottom: 1px solid rgb(120, 120, 120);
    font-size: larger;
    color: rgb(120, 120, 120);
    
    
}

textarea:focus, input:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid #F6BF4C;
    color: #F6BF4C;
}

img {
    cursor: pointer;

}

.deleteButton {
    /* display: inline-block; */
    height: 22px;
    width: 22px;
    float: right;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.deleteButton:hover {
    filter: invert(21%) sepia(96%) saturate(2331%) hue-rotate(327deg) brightness(87%) contrast(97%);
}